[2014-01-17 18:27] claudiob opened #5 "2.0.0 yanked?"
Hi… just a question… why did you yank version 2.0.0 from rubygems?

Did it have any security issue? Thanks

[2014-02-02 19:12] #5 closed, assigned to nobody

[2014-02-11 23:19] DeepAnchor opened #6 "Getting "undefined method `each' for 0:Fixnum" when using this gem with Kaminari"
Nice gem! This is exactly what I need except i'm getting the following server error when using api-pagination in conjunction with kaminari.

Running `curl -I localhost:3000/tests.json?page=1` I get

[code]

My controller:

[code]

Gemfile

[code]

I created a new app to reproduce this error: https://github.com/DeepAnchor/api-pagination-test.git

[2014-02-12 19:02] #6 closed, assigned to nobody

[2014-02-16 17:00] bcackerman opened #7 "Not correctly limiting per_page"
I have this in my API Customers controller

[code]

and this in my rails app

[code]

But when I hit my API route for customers it still lists them all out instead of 1 per page.

[2014-04-10 21:37] #7 closed, assigned to nobody

[2014-05-01 20:17] kamui opened #10 "Setting a default per_page value in Grape"
Is there a recommended way to set a default `per_page` setting for a single route? A few of my routes do pagination, but have different defaults. The only way I've managed to get this working is this:

[code]

While this works, paginate already defined this param. It would be cool if the paginate method could take a default per_page argument or maybe a hash value? Or maybe there's a better way to

[2014-05-01 21:13] #10 closed, assigned to nobody

[2014-05-20 06:37] MentalPower opened #12 "Cannot override per_page"
Hey, after updating to 3.0.1 my clients cannot override the per_page variable at all. Previously, my signature under 2.1.1 looked like this:

[code]

However even after changing it to what is suggested at the end of #10, it cannot be overridden at all. The 'set :per_page, 30' is effective in setting the default, but it does not allow it to be changed by the client code afterwards. I've reverted ba

[2014-05-20 16:03] #12 closed, assigned to nobody

[2014-08-13 17:04] tsdbrown opened #15 "Problem with jbuilder"
Hey, I was looking into using your gem, but I can't get it working with jbuilder. Is this something that you'd like the gem to support? If it doesn't.

Unless I'm doing something wrong (entirely possible!) I think it's due to the explicit :json key that gets added to the render options in the "paginate" method.

Rails it only seems to render the jbuilder template if you don't specify a json key in

[2014-09-21 19:17] #15 closed, assigned to nobody

[2014-10-07 13:11] SanderMander opened #18 "Kaminari will_paginate conflict"
Hi.
I am using will_paginate as paginator.
However rails_admin use kaminari as default paginator.

In ApiPagination::Hooks.init

[code]

You set @paginator attribute with kaminari even if it already was initialized. You may add if blank? check, but i think this may cause other problems and is not a good solution.

[2014-10-08 22:17] #18 closed, assigned to nobody

[2014-11-01 10:09] leods92 opened #22 "APIs are vulnerable to infinite listing with params[:per_page]"
I think we should discuss about the `params[:per_page]` that api-pagination makes automatically exposed/allowed when using Grape.
There's currently no limit set what allows anyone to fetch tons of records at once.

What if we add another config option `:max_per_page` that limits that?
I think that we can then make `params[:per_page]` limited to the `:per_page` config by default.

This could break

[2015-01-09 23:27] mmclead opened #25 "Does not work with Grape 0.10.x"
A refactored Settings module in Grape is a breaking change here.

[2015-01-12 22:38] #25 closed

[2015-01-12 22:43] aaronchi commented on #25
This seems to be a valid issue.

[2015-01-13 21:31] davidcelis commented on #25
Fixed in #24.

[2015-01-15 20:05] erikaxel opened #26 "Per page in response?"
Hi,

Hi I'm using the response in this API together with a javascript/HTML pagination library which shows a nice pagination toolbar to the user. However this pagination library needs the per_page to work. I would expect this to be the case with many other libraries/use_cases as well.

Would it be possible to get a per page in the response similar to the total which is provided in the current gem?

[2015-01-15 22:07] davidcelis commented on #26
Providing the per_page in the response makes sense to me. I hadn't included it because I figured if people needed it, they had already requested a custom per_page. I didn't take into account people needing to know the default!

[2015-01-15 22:22] #26 closed

[2015-01-15 22:37] erikaxel commented on #26
Wow, that was a quick reply and fix! Thank you very much!

[2015-01-16 00:42] davidcelis commented on #26
You're welcome! Thanks for the suggestion! There's something else I'm looking into before I cut a release, but you should be able to bundle off of github in the meantime if you need this ASAP.

[2015-01-16 01:01] #22 closed

[2015-01-16 03:38] davidcelis commented on #22
From the discussion in #23...

[code]

Grape didn't really have a workaround.

[2015-01-23 12:28] digitaltom opened #32 "Multiple rels and urls in the same Link element"
Api-pagination is adding multiple links and multiple relation types in the
same Link header which seems not correct as per RFC https://tools.ietf.org/html/rfc5988.
Check the example in point 5 and description 5.3.

Shouldn't it look like this?
[code]

[2015-01-23 15:07] davidcelis commented on #32
Multiple links each with their own relation type in the header are fine, as long as they are comma delimited. Having the same header multiple times with different values would not be a valid HTTP request or response. There's an example on that same RFC right before section 6:

[code]

So you have the basic structure...

Link: <URI>; rel="one", <URI>; rel="two", <URI>; rel="three", etc...

[2015-01-23 15:07] #32 closed

[2015-01-23 15:14] digitaltom commented on #32
Ok, thanks for the explanation!

[2015-02-02 12:36] manoelneto opened #34 "Suport to Range Pagination"
Hi, thank you very much for your support in this project. I`m using it in a particular project and like it very very much.

Thank you.

But I`m missing something in it: range pagination
like in this image bellow.

Do you figure how I can do something like that?

![687474703a2f2f692e696d6775722e636f6d2f4c437172742e676966](https://cloud.githubusercontent.com/assets/2057771/6000638/f3b997ca-aabe-11e4

[2015-02-02 17:40] davidcelis commented on #34
Hey @manoelneto; api-pagination is just a backend solution for pagination in a RESTful API. It doesn't know anything about (or care about) the frontend, so I'm a little confused by the request. Are you writing a web app on top of an API that uses api-pagination? If that's the case, then what you'd want is Javascript that could handle the `Link`, `Total`, and `Per-Page` headers to construct paginat

[2015-02-02 18:32] manoelneto commented on #34
You`re right, but parse pages numbers from the Link like url style is,
IMHO, bad.

But talking another feature i`ld like to see, can you return current page
number in response header?

As your gem has only prev, next, first and last page, its quite trick for
me to get current page.

For example, i use angular and your application, with ngRoute to show a
page with a list of posts. So i show buttons

[2015-02-02 18:50] davidcelis commented on #34
Hmm, I see the frustration... To be honest I'm not really a fan of adding more headers or links that can be constructed from those already returned. With the way it is now, all the info returned by `api-pagination` is necessary. The `Total`, `Per-Page` and Link headers can tell you everything you need to construct other information (e.g. the number of items on the last page). I'd rather not add so

[2015-02-02 18:50] #34 closed

[2015-02-02 18:52] davidcelis commented on #34
One last thought: the Link headers generated by this gem are pretty much the same ones given by the GitHub API (in fact I give a bit more info, as they don't appear to expose a `Total` or `Per-Page` header). They have a nice little guide on how to consume it, though it does use Ruby: https://developer.github.com/guides/traversing-with-pagination/

[2015-02-02 20:44] manoelneto commented on #34
Not a problem man. You did a great work.

Thank you.

I think that it`s really not necessary to return current page, as you said, just because i requested. but if i need to get more information, I can make a fork of your repo.

Again, thank you

[2015-02-05 19:13] aaronchi opened #35 "Add option to turn off total count"
I ahve an issue with an api I'm working on that queries against a collection wit millions of records. I want to return the Link header but not the total to avoid the extra query call for total count.

It would be nice if this was a configurable option.

[2015-02-10 07:52] davidcelis commented on #35
Hmm... This seems reasonable but I feel like I need to ask: how long does the `SELECT COUNT(*) ...` query take for your collection? Is it really enough that generating the “Total” header is a noticeable performance loss?

[2015-02-10 08:18] aaronchi commented on #35
On the one query that's looking at 2.7M records, it takes almost a minute for the api call to complete.

I'm not sure it's a big concern for anyone else, so I just hacked something together here:
https://github.com/bitium/api-pagination/commit/dcdf526a283f885a9cebfea500949c7438c1d87b

Basically allows paginate to take a skip_total option and modifies the way the data is returned. Can probably be i

[2015-02-25 12:46] 85636682 opened #38 "how to use Grape::Entity in api-pagination?"
[code]
this has a error
[code]

[2015-02-25 17:19] eidge commented on #38
```present paginate(current_user.feed), with: APIEntities::Tweet```

You still need to call present, paginate will only scope your query.

[2015-02-25 17:27] davidcelis commented on #38
@eidge is right; the Grape pagination just scopes the query and sets up headers. You'll still need to use your own presenter if you want. Thanks, @eidge!

[2015-02-25 17:27] #38 closed

[2015-02-26 01:05] 85636682 commented on #38
@eidge , @davidcelis thanks for your help!

[2015-03-25 23:46] deepsystm opened #39 "work with Array type"
please add `Array` type support for `pagination`

[2015-03-25 23:51] nddeluca commented on #39
I believe this gem support array pagination with the `Kaminari` gem out of the box.  If you are using the `will_paginate` gem then all you should have to do is add `require 'will_paginate/array'` to your application.

[2015-03-25 23:53] deepsystm commented on #39
Thanks! Found it in readme

[2015-03-26 02:01] davidcelis commented on #39
Sounds like this is figured out!

[2015-03-26 02:01] #39 closed

[2015-04-22 22:15] jarinudom commented on #35
You could try https://github.com/desktoppr/cached_counts also

[2015-09-03 10:38] birbird opened #47 "Global default_per_page config"
Kaminari has a default_per_page config to give a default page size.
[code]

I found api-pagination does not use this config, it use 25 as default, see
https://github.com/davidcelis/api-pagination/blob/master/lib/grape/pagination.rb#L36

Could you please use Kaminari's config or provide a ApiPagination.configure to change the default per page value?

[2015-09-03 15:48] #47 closed

[2015-09-03 17:02] birbird commented on #47
Thanks for the quick fix

[2015-09-15 05:32] joevandyk commented on #35
I'd like this as well.

[2015-09-26 11:25] paulo17 commented on #15
It works really well with _paginate_collection. A huge thanks !

[2015-11-04 16:38] Lacrymology opened #48 "Support will_paginate's config"
is there a reason not to support will_paginate's (and I guess kaminari's as well, but I haven't used that) pagination options?

e.g.

[code]

but in the response headers I get

[code]

[2015-11-04 16:43] Lacrymology commented on #48
Or else: is it possible to somehow set the limit in a per-resource basis, rather than globally?

[2015-11-04 18:39] davidcelis commented on #48
There's no reason; global support of Kaminari's and WillPaginate's configuration was added in #20 but nobody's tackled grabbing a model's configuration yet.

[2015-11-06 07:15] pranav7 opened #49 "Option to create https links in headers"
Is there an option to force https headers for the links?

[2015-11-06 07:27] pranav7 commented on #49
I see that you use `request.original_url` to fetch the url of the current request to make header links.
https://github.com/davidcelis/api-pagination/blob/master/lib/rails/pagination.rb#L34

However, in our production environment even if the request is made to `https` the links that are made are `http`.

Orignal Request `https://example.com/api/products`
[code]

[2015-11-06 07:33] pranav7 commented on #49
Ok, found the solution.

http://blog.seancarpenter.net/2013/09/02/rails-ssl-route-generation-with-nginx-and-unicorn/

[2015-11-06 07:33] #49 closed

[2015-11-06 18:05] davidcelis commented on #49
Glad you got it! :grinning:

[2015-11-13 22:23] n8gard commented on #15
I'm trying to use this gem for my API's pagination w/ JBuilder and Kaminari. I've followed this thread but what's not clear is what needs to be added in the JBuilder templates? I have this working controller-side but I'm not seeing anything in the JSON output relative to which page was rendered, etc. I just see that there are, in fact, only two user records output as I'm forcing this via the 'per_

[2015-12-28 05:40] synth opened #51 "Bug when parameters are empty string"
When a parameter is included in a request but is a blank empty string, there is unexpected and buggy behavior.

+ When params[:page] == "", #to_i is called on it, which causes the page to default to 0. Normally, the first page is 1. This may be equivalent now, but in the future may cause unintended consequences.
+ When params[:per_page] == "", this causes the error: "comparison of Fixnum with Stri

[2015-12-29 00:52] davidcelis commented on #51
Solution sounds good! I'm on vacation but would you like to take a stab at a PR?

[2015-12-30 23:29] synth commented on #51
So, after some digging, there seems to be some parameter coercion fixes in grape 0.14.0 that coerce empty string parameters to nil which basically addresses the issue. I'm locked on 0.13.0 due to another gem(wine_bouncer) so I'm not too sure on how to proceed. I filed a ticket on wine_bouncer to bump the version...

[2016-01-01 03:11] oyeanuj opened #52 "Release version of the gem"
Hi @davidcelis! Thanks for this gem, its been great. Wondering if you plan to cut a release for the gem containing changes in master since the Feb and what the timing for that might look like?

[2016-01-01 04:30] oyeanuj opened #53 "Not paginating when using each_serializer"
Hi @davidcelis! This might be a n00b mistake but in my setup, I can't get the pagination to work when using `each_serializer` option. In other words, if I do `API_URL?page=2`, it returns the same set of results.

I am using Rails 4.2.4 with AMS 0.9.3 and Kaminari. Here is the relevant code in the controller:

[code]

If I comment out `each_serializer` above, then it works fine.

Any pointers would

[2016-01-01 18:25] #35 closed

[2016-01-01 18:41] davidcelis commented on #51
So does any action need to be taken here on my part, @synth?

[2016-01-01 19:52] davidcelis commented on #53
Hey @oyeanuj, are you explicitly using the `rails-api` gem? If so it should work fine. Another thing you could try is just calling `paginate` with the collection itself and rendering with the serializer later, as per the README:

[code]

[2016-01-01 20:03] oyeanuj commented on #53
Thanks for the quick response! I am explicitly using `rails-api` gem.

Also, I had tried what you suggested earlier and got this:

[code]

Any ideas on what the issue might be?

[2016-01-01 20:09] davidcelis commented on #53
Ah, I guess ActiveModel::Serializers are designed to just take a single record? You'd probably have to do something like `posts.map { |post| PostSerializer.new(post) }`

[2016-01-01 21:03] synth commented on #51
Hmm. Not sure. Seems like it would be a good practice to better define behavior and not rely on grapes implementation so much. Who knows if coercion behavior will change in the future. At the very least I think it would be good to write tests to cover the behavior.  I started some during my digging process(tdd ftw). I'll create a pr later this week and you can let me know what you think.

[2016-01-01 21:05] davidcelis commented on #53
So I just created a bare Rails API with the latest version of api-pagination (4.2.0), scaffolded a model with a serializer, and tried passing `each_serializer` in. It worked just fine… I'm going to assume that whatever issue this may have been was fixed in the version I just pushed. Mind trying it out? Otherwise, it must be a problem in your Rails app…

[2016-01-01 21:05] #53 closed

[2016-01-01 21:06] davidcelis commented on #52
Released version 4.2.0!

[2016-01-01 21:06] #52 closed

[2016-01-01 21:06] davidcelis commented on #51
Sounds good, thanks!

[2016-01-01 22:22] oyeanuj commented on #53
Yes, its working now with the upgraded version. Thanks so much!

[2016-01-20 17:32] n8gard opened #54 "Is there a default sort order on :id enforced?"
I'm specifying that records get sorted by name but what I'm seeing is that the paginated result set is being ordered by :id, :name. Is this expected? It seems that it prevents any sorting at all which would make me sad. If I'm missing something, it isn't obvious. Please advise.
[code]

Results in SQL:
[code]

[2016-01-20 17:37] davidcelis commented on #54
Hey, I suspect this is actually a combination of the `WHERE "users"."id" IN (…)` clause and the `ORDER BY "users"."id" ASC` not behaving correctly as opposed to the pagination. If you try that query manually, but remove the `LIMIT 50 OFFSET 0`, what happens?

[2016-01-20 17:48] n8gard commented on #54
You are, indeed, correct, sir. Closing this issue. Apologies.
[code]
produces same result sorting by :id, :name.

[2016-01-20 17:48] #54 closed

[2016-01-20 19:14] n8gard commented on #54
Just to share information and after thinking this was ActiveRecord weirdness associated with sending an array of IDs into the where clause... extra digging found our problem was a default_scope on the User model. Upon removing it, the primary sort via :id disappeared and we got paginated results by :name. Again, sorry for the trouble,

[2016-02-24 08:51] JiriChara commented on #48
Kaminari allows following:
[code]

which sets `User.default_per_page` to `50`. I think I might have a "simple" solution for both will_paginate and kaminari, but I am waiting with PR for #56 to get merged so I don't have to deal with merge conflicts :dizzy_face:

[2016-02-24 13:18] JiriChara commented on #51
What about throwing some custom error if the page/per_page params are not numbers? This way programmers can catch that in the controller and either render 422 or parse the value on their own. What do you think?

[2016-02-24 21:35] #48 closed

[2016-03-02 07:31] JerryGreen opened #58 "Configuration from readme not working"
I just copied full configuration from readme, moved it to `initializers` folder and got this:

[code]

_P.S. After that I figured out I don't need the configuration for this gem. Actually I needed configuration for kaminari (to change default of `per_page`). But keep in mind there is a problem with configuration file (or you have to add some explanation to readme if it's not obviously to use that)

[2016-03-02 09:30] davidcelis commented on #58
Looks like there's a discrepancy between the README (which is for the master branch) and what the current release is. Which is a good reminder for me to cut a new release. I'll try to do that tomorrow. Thanks!

[2016-03-02 10:12] JerryGreen commented on #58
@davidcelis I see. Thx for your gem!

[2016-03-02 10:12] #58 closed

[2016-03-04 21:53] ajb opened #60 "Edge cases when records change in the middle of paginating"
Here's a pretty good description: http://stackoverflow.com/questions/13872273/api-pagination-best-practices

I'm not sure if I believe that `api-pagination` should handle this out-of-the-box, but I'm trying to automatically append an `?until=TIMESTAMP` parameter to my `Link` header, and I've ended up with a pretty terrible monkeypatch:

![img](http://take.ms/ZLc22)

I'm wondering if the author / m

[2016-03-06 22:46] samjbmason opened #61 "Access pagination details in json"
While its great to have the pagination inside the headers, is it possible to render out these details such as `next_page_url`, `total_items` in the json view?

I tried using kaminari's `page` local var but it wasnt available.

[2016-03-06 23:38] davidcelis commented on #61
Hey @samjbmason. This currently isn't supported by the api-pagination gem, and I'm unlikely to add support for it in the future. The purpose of the api-pagination gem is stated in the README:

For now, I'll be continuing to designate this gem as a solution solely to paginate in the headers and not the response body.

[2016-03-06 23:38] #61 closed

[2016-03-30 13:04] Phifo commented on #35
is this already implemented? I set `config.include_total = false` but the pagination is still querying the count.

[2016-03-30 16:55] davidcelis commented on #35
@Phifo It looks like the patch I included only skips a query for calculating the `Total` header. But since the number of records is still necessary for calculating the last page… It's gonna execute a `COUNT` query regardless 😞

Unfortunately, at this point I think this is a WONTFIX for me. I'd rather not support this sort of edge case in the api-pagination gem and need to implement functionality t

[2016-03-30 17:03] joevandyk commented on #35
I think it's a pretty common thing to paginate across large result sets, I wouldn't consider it an edge case.

[2016-03-30 17:05] davidcelis commented on #35
"Edge case" probably wasn't the best phrase, but what it comes down to is that the case of paginating across a large result set where the `COUNT` query takes unreasonably long is not a case I'd like api-pagination to try to deal with… In the case of this gem, it means leaving out the `Total` header and the link to the `last` page in the `Link` header. I was _okay_ with the first result. I'm not re

[2016-03-30 17:10] joevandyk commented on #35
Why are you not ok with skipping the `last` header? I am. :)

[2016-03-30 21:04] Phifo commented on #35
@davidcelis your answer makes a lot of sense, I should find a way to speed up the count query. Leaving out the last page in the link header will not follow the standard.

[2016-04-24 12:04] wongyouth opened #62 "Empty collection expects no Link in headers"
My API goes to `http://localhost:3000/api/v1/posts?user_id=6&mine=true&scope=finished`

When server returns empty collection, the headers includes 2 links:

[code]

When I go to the next page:

`http://localhost:3000/api/v1/posts?mine=true&page=2&scope=finished&user_id=6`

returns 4 links:

[code]

But when I got 1 object returned there is no Link in headers:

[code]

Since there is no Link in hea

[2016-04-24 19:45] davidcelis commented on #62
@wongyouth Hmmm, something definitely seems weird there! I have tests in place to ensure pagination doesn't happen when collections are too small; I don't suppose your code is on GitHub to help in debugging? If you can't share your app's code, would you be willing to put together a quick test Rails app that reproduces this?

[2016-04-25 07:13] wongyouth commented on #62
I found it happen only with the master code of kaminari.

demo repo: https://github.com/wongyouth/api-pagination-bug-replay.

[code]

[2016-04-25 15:17] davidcelis commented on #62
Thank you! I'm on a bit of a vacation for the next week or so; it may be a little while until I can look into this

[2016-07-05 14:17] wongyouth commented on #62
I found the last stable version of Kaminari (v0.17.0) doesn't have this issue any more, so I close this.

[2016-07-05 14:17] #62 closed

[2016-07-26 16:03] danramteke opened #63 "Caching and Pagination ?"
Hi, I'm having a little trouble getting Rails caching to play nicely with this gem. Here's some psuedo code that matches my code fairly well:

    # Shows HTTP paging headers, but loads everything into memory
    def user_posts
      cache_key = {
        user_id: current_user.id,
        latest_post: current_user.posts.maximum(:updated_at)
      }

      posts = Rails.cache.fetch(cache_key) do

[2016-07-26 18:04] davidcelis commented on #60
Hey @ajb, sorry it's taken me so long to respond to this issue 😓

This is my feeling, to be honest. I think that this is simply a limitation of Link header pagination that may be okay for some and not for others. One thought I've had is that perhaps this is a great case for [Range header pagination](http://otac0n.com/blog/2012/11/21/range-header-i-choose-you.html) where the ranges provided are the

[2016-07-26 18:04] #60 closed

[2016-07-26 18:11] davidcelis commented on #63
@danramteke Is your app open source, by any chance? If not, would you be able to reproduce this in a fresh rails app using kaminari and api-pagination and send me the app's code?

[2016-08-25 20:36] codeodor opened #64 "ActionView::MissingTemplate when passing in the template or action options"
Code looks like this:

[code]

If I change it to `render` and drop the collection, it renders as expected (minus the headers this gem adds). However, if I try to paginate, it all of the sudden looks for the `mine` template instead of the specified `index` template.

If I change it to `paginate json: @teams, action: 'index'` it does not use my template at all, resulting in an information leak (I'm

[2016-08-25 21:16] davidcelis commented on #64
Hey @codeodor, thanks for reporting this! If it's not too much trouble, is the source of your Rails app by chance shareable? If not, would it be possible to whip up a quick template Rails app or something similar that I can spin up to more quickly debug this?

[2016-08-25 21:23] codeodor commented on #64
It's not sharable, but I'm pretty early on in the development of the API, so if it's not something super specific to my app, I ought to be able to whip up something fairly quickly.

I'll see what I can get you tomorrow morning (US Central).

[2016-08-26 11:57] codeodor commented on #64
Here's an example app that demonstrates the issue: https://github.com/codeodor/api-pagination-failure-reproduction

[2016-08-26 15:39] davidcelis commented on #64
Thanks @codeodor! I'll take a look in the next few days; I'm on vacation right now ;)

[2016-08-26 17:41] davidcelis commented on #64
Ahh I see what you're talking about, @codeodor. If you check [the README's Rails section](https://github.com/davidcelis/api-pagination#rails), the bottom goes over how to use `paginate` if you need more custom behavior. You can pass your collection directly to `paginate` to set your headers and receive the paginated collection back so that you can do whatever you need with it. I'd recommend changi

[2016-08-26 17:41] #64 closed

[2016-08-26 19:36] codeodor commented on #64
Thanks. That worked!

I think I got confused by this part:

I might take a look later and see if there's an easy win that acceptable as a PR to make that either more clear or more correct when it comes to the template option.

Thanks for the awesome gem and pointing out the fix for me!

[2016-08-26 23:54] davidcelis commented on #64
Gotcha, looks like that documentation could be improved too. It mimics calls to `render` when the `json` or `xml` options are passed 😅

[2016-08-27 12:13] codeodor commented on #64
Ok, after looking at it for a while this morning, I see there's no real way to make it behave like Rails without breaking changes, or just introducing a new method. Because of that, I don't see a need for me to send a PR to adjust it.

Thanks again for your work!

[2016-08-29 04:22] ysyyork opened #66 "Is there a way to globally set per-page number?"
By default, per-page number is 30. I can set it when I am returning my results but that's a little hard to manage if I have lots of APIs. Is there a configuration to globally set a default per-page number? Thanks

[2016-08-29 04:29] ysyyork commented on #66
Sorry I find I can set it up in will_paginate. I will close this issue. Thanks

[2016-08-29 04:29] #66 closed

[2016-10-04 07:51] dan-klasson opened #68 "Include total pages in header"
The header has Per-Page and Total. But no Total Pages.

[2016-10-04 21:18] davidcelis commented on #68
@dan-klasson You should be able to get this from the `last` rel in the `Link` header. For example, if you got the following Link header for requesting a page:

[code]

You can grab that "last" link and parse the page number out of it.

[2016-10-05 04:07] dan-klasson commented on #68
@davidcelis Getting the page number from parsing a string isn't very convenient. Why not just add the total pages number to the header as well?

[2016-10-05 15:44] davidcelis commented on #68
I'm hesitant to add another header, as it's starting to feel heavy-handed; we've already got `Link`, `Total`, and `Per-Page`. I was even hesitant to add `Per-Page`, but that ended up making sense because when there's a default value, it can end up being difficult to calculate depending on the number of pages returned. The total number of pages, on the other hand, is always calculable/parseable as

[2016-10-05 18:12] dan-klasson commented on #68
@davidcelis Your gem is called `api-pagination`. How can you be hesitant to add headers that are intrinsic to your business domain? And how is one more header heavy handed? In my case I am not using the link headers at all. And parsing the total pages from a string, or calculating it myself as I ended up doing, that's heavy handed.

[2016-10-05 18:25] davidcelis commented on #68
I'm aware. Also, opening with this made me want to immediately re-close this issue with very little further comment. I hope you'll take a step back from how you're starting to address me and think about how it would feel in my shoes.

Adding a header that doesn't provide new information isn't intrinsic to my "business domain". I prefer the software I write to do the minimum amount of work required

[2016-10-05 19:39] dan-klasson commented on #68
I didn't mean to offend you. I merely tried to point out that your gem is awesome but it's missing something simple as a few extra bytes in the header.

Just because someone hasn't had the need for it before, doesn't make it not necessary. Total rows and total pages are the most important details in pagination. Much more important than link headers IMHO.

[2016-11-28 18:11] ebosantos commented on #68
Having a Total Pages header parameter makes sense to me.

+1

[2016-12-06 19:08] jpaas opened #70 "4.5.0: NoMethodError: undefined method `paginate'"
I tried upgrading from 4.4.0 to 4.5.0 and the paginate method could not be found on my controllers any more. Downgraded and it works fine again.

[2016-12-06 19:14] davidcelis commented on #70
@jpaas I'm guessing you're using Rails 5, but your API controllers inherit from `ActionController::Base` instead of `ActionController::API`? 4.5.0 introduced a change with Rails 5 support that includes the pagination module only where it detects it should be necessary. It used to end up being included in both `ActionController::Base` and `ActionController::API` but, in the interest of not pollutin

[2016-12-06 19:18] jpaas commented on #70
You are absolutely correct sir! Thanks for the super speedy response. Might be a good addition to the release notes ;)

[2016-12-06 19:18] #70 closed

[2016-12-06 19:21] davidcelis commented on #70
That's a great idea, thanks @jpaas!

[2016-12-06 20:17] ShaneBoyer opened #71 "api-pagination 4.5.0 support for Rails 4.2.x broken?"
The update for Rails 5 support has in some way broken support for Rails 4.2. Reverting to api-pagination 4.4.0 restores working support for Rails 4.2.  On rails server startup the following trace occurs in Rails 4.2.x with api-pagination 4.5.0:

[code]

[2016-12-06 20:43] davidcelis commented on #71
Do you have a longer stack trace, by any chance?

[2016-12-06 20:53] ShaneBoyer commented on #71
Sorry, I expect this section should help:

[code]

[2016-12-06 22:00] davidcelis commented on #71
Do you have a require statement for `api-pagination` anywhere, or are you relying on Rails/bundler to load it for you?

Does adding `require 'api-pagination'` or `require 'api-pagination/hooks'` in an initializer or `config/application.rb` help?

I don't suppose you're able to reproduce this in a small, fresh Rails app that I could look at?

[2016-12-07 04:08] ShaneBoyer commented on #71
Bundler.require pulls in all gems on start.  To reproduce, setup a new rails 4.2.x API project:
gem install rails-api
rails-api new api-test
cd api-test

Add the following gems to Gemfile:
gem 'kaminari'
gem 'api-pagination'

bundle install, then rails s fails immediately with the NameError.  The rails-api gem is causing the ActiveSupport.on_load hook to be called before the initial parsing of hoo

[2016-12-07 11:42] Dev-Crea commented on #71
I fixed this problem by specifying the version in the Gemfile.
`gem 'api-pagination', '~> 4.4', '<= 4.4.0'`

[2016-12-07 18:27] davidcelis commented on #71
Interesting; I thought that _might_ solve the problem, but I had convinced myself otherwise because that `ActiveSupport.on_load` hook is supposed to be lazy. @ShaneBoyer I can patch that up later today or, since you found the bug and the fix, would you like to submit a pull request and get a contributor badge? :wink:

[2016-12-07 21:02] ShaneBoyer commented on #71
Sure, I'll get you a pull request later today.

[2016-12-08 20:51] davidcelis commented on #71
Closed by #72

[2016-12-08 20:51] #71 closed

[2016-12-10 08:59] vovkats opened #73 "Set current page"
This my config of pagination

config.page_param do |params|
  params[:page][:number]
end

config.per_page_param do |params|
  params[:page][:size]
end

I have 40 records. I want to get record beginning with id 11. When I pass parameters page: {number: 2,  per_page: 10} I have got records beginning with id: 1

paginate json: users, per_page: params[:page][:size], page: params[:page][:number]
What a

[2016-12-12 22:38] davidcelis commented on #73
If you're specifying the param names in your configuration, you should only have to call `paginate json: users`. Can you try removing the other arguments and seeing if that works?

[2017-01-18 17:28] ketiko opened #76 "Undefined method paginate on Rails 5.0.1"
```NoMethodError - undefined method `paginate' for #<UsersController:0x007fedd643de08>:```

It seems to be because in Rails 5, ActionContoller::API is defined in a standard `rails new dummy` application.

So https://github.com/davidcelis/api-pagination/blob/master/lib/api-pagination/hooks.rb#L8 works for rails api only applications, but not regular rails applications.

It seems that since both Act

[2017-01-19 00:57] davidcelis commented on #76
Yep, please see the [release notes for 4.5.0](https://github.com/davidcelis/api-pagination/releases/tag/v4.5.0). Sorry for the trouble!

[2017-01-19 00:57] #76 closed

[2017-01-19 01:07] ketiko commented on #76
Doh sorry I missed that in the notes. Looks like it's also in the readme. Helps if I read the readme lol. Thanks, I really love this gem!

[2017-03-06 17:46] amcaplan opened #77 "Links don't match actual params"
This gem allows the use of custom page size and number params.  However, https://github.com/davidcelis/api-pagination/blob/edfec8316cb900d310420b5f62cd907c27932a02/lib/rails/pagination.rb#L37 seems to indicate that regardless of the params set, it assumes that the page number param is just called `:page`.  Shouldn't that be keyed off the configuration instead?

[2017-05-03 21:06] amsimon opened #80 "How to put total, page, per_page in response body instead of headers"
Is there any way I can put the total, page, per_page in response body instead of headers?

[2017-05-04 00:15] davidcelis commented on #80
@amsimon No, sorry! I built this gem specifically to paginate in the headers. If you want to add pagination links/info to the response body, you'll have to do that on your own

[2017-05-04 00:15] #80 closed

[2017-05-25 20:42] adrientoub opened #83 "Doesn't work anymore with multi word classes"
Since the commit 906b09682e7c12d8929004293abe35a3d57f0732 the paginate method returns a LoadError when a class related to a table with an underscore in the name is used.

For instance here the class is called PromotionCode and the code looks for a Promotion_code which is obviously wrong.

[code]

The line 85 of the code is obviously wrong, this only works for single words class:
[code]

[2017-05-28 18:56] davidcelis commented on #83
Fix released in 4.6.3

[2017-05-28 18:56] #83 closed

[2017-06-08 16:28] cseelus commented on #15
@n8gard: Just use it like this with JBuilder:

[code]

[2017-06-24 05:41] Un3qual opened #85 "Support for without_count?"
Kaminari has a method called `without_count`. It creates a paginatable collection without counting the number of all records. The usage is
[code]
It's on the [kaminari docs](https://github.com/kaminari/kaminari#paginating-without-issuing-select-count-query).
Is there currently support for this? If not, would you consider adding it?

[2017-08-29 22:31] BM5k opened #86 "links don't match app route helpers"
my app's page params are in the url

[code]

not

[code]

however, the generated links use this second form, which appears to be hardcoded in [Pagination#_paginate_collection][0]

[0]: https://github.com/davidcelis/api-pagination/blob/master/lib/rails/pagination.rb#L37

[2017-10-23 14:14] mayordwells opened #87 "Group json data"
How can I group json data by table name, e.g, name or sku?
[code]
The above method produced the following, please click link to check - [https://deaninfotech.herokuapp.com/products.json](https://deaninfotech.herokuapp.com/products.json)

I want to be able to group the products by sku or by name? How can I get a work around it?

I wrote this method, which didn't give the desired result
[code]
The d

[2017-10-24 06:22] davidcelis commented on #87
Hi! This unfortunately isn’t really an api-pagination question, so I’m going to close the issue. I think you’ll find what you’re looking for in Rails’ querying and filtering guide, though: http://guides.rubyonrails.org/active_record_querying.html

If not, this would be a good StackOverflow question!

[2017-10-24 06:22] #87 closed

[2017-10-25 13:58] davideghz commented on #63
Just had the same problem. `paginate` overrides render method so in order to get the correct (full) headers in case the request hit the cache, we have better to paginate what the cache returns instead of paginating inside the cache block.

Something like the following should work:
[code]

[2017-12-13 07:52] cocoakekeyu opened #89 "Empty collection response has next and last link with 1.1.1 Kaminari"
As #62 say,  I test in 1.1.0 and above Kaminari  all will occur this problem.

At last I has to downgrade to  0.17 to fix it.

[2018-01-24 21:36] mikeyduece opened #92 "Access Link header in fetch response"
I'm consuming an API that I paginated with your gem. How would I gain access to the link header in the fetch response? I am using React to consume the endpoint, right now when I try `response.headers` it's just an empty json object.
[code]

[2018-01-24 22:07] mikeyduece commented on #92
`response.headers.get('Link')` got me access to it 😃

[2018-01-24 23:30] davidcelis commented on #92
@mikeyduece What tutorials are you looking at?

[2018-01-25 04:13] saiqulhaq commented on #92
this gem doesn't cache headers
so you will get headers on the first time only

next time when you do same request, you will get cached body only, no headers

[2018-02-26 02:25] rpbaltazar opened #93 "The linked RFC is obsolete"
The Readme linked RFC is obsoleted by https://tools.ietf.org/html/rfc8288

I'm reading it through and will try to understand the main differences to see if this still complies.

[2018-03-11 16:47] januszm commented on #15
@cseelus could you please explain how did you manage to add pagination to the jbuilder template using this gem? I can't get this to

`paginate(...)` in a template (html or json) results in Kaminari rendering the html template always.

[2018-03-12 15:39] cseelus commented on #15
I use will_paginate instead of Kaminari and I have specific API controllers which inherit from a `Api::ApiController` that does `include Rails::Pagination`.

[2018-03-21 05:55] gvinicius commented on #89
I have had the same problem. So strange.

[2018-03-21 06:03] gvinicius commented on #89
I have checked it out with will_paginate, and I got the same problem. Then, I tried to add `:json` after the `paginate`, and I it works like magic.

[2018-05-17 05:50] scytherswings opened #96 "Adding api-pagination to gemfile breaks all jbuilder rendering"
What versions: api-pagination version `4.4.0`+
Rails: 5.1.6
Pagination gem: Kaminari 1.1.1
jbuilder: 2.7.0

Expected behavior:
Adding `paginate` to an ActiveRecord query should add pagination headers to the response and paginate the query result.

Actual behavior:
200 OK with pagination headers but empty body, no json whatsoever.

Also non-paginated requests are broken.

Steps to reproduce:
1. Clo

[2018-05-17 05:52] scytherswings commented on #96
Sidenote, if you do step `7` without removing the gem, the response is still empty, which is quite surprising for me.

[2018-05-30 20:32] cseelus opened #97 "Support for Pagy"
[Pagy](https://github.com/ddnexus/pagy) is a new "pagination gem that outperforms the others in each and every benchmark and comparison".

Would this paginator be something api-pagination could support?

[2018-06-07 23:51] davidcelis commented on #97
Yup, this is on my radar! Stay tuned, hope to have something out soon.

[2018-06-08 02:37] davidcelis commented on #96
Hey, just letting you know that I _am_ looking into this. I've been out of the country for the last 17 days so I couldn't really start until now, but I do have a lead!

Something really fucked up is going when `api-pagination` and `jbuilder` is included in the Gemfile, at least in your app; your controllers end up not including `ActionView::Rendering` which results in them attempting to render tex

[2018-06-08 15:42] davidcelis commented on #96
@scytherswings Thanks again for reporting this, and sorry that the fix took a few weeks! I sorted out the load issue by making an actual Railtie (something I'd been meaning to do for a while) and pushed up a new version of the gem. I tested it against your app, and 4.7.2 started giving me actual responses ✨

Just as a quick note, your endpoint doesn't need to explicitly call `.page` and `.per` on

[2018-06-09 00:01] #97 closed

[2018-06-09 00:32] davidcelis commented on #97
I've pushed up version 4.8.0 which adds support for Pagy. I don't have an app using Pagy yet, so please let me know if you encounter any problems!

[2018-06-09 22:49] cseelus commented on #97
Nice, works exactly as expected. Thanks for the quick implementation and publication on RubyGems.

[2018-06-10 18:51] mdemare opened #98 "uninitialized constant Pagy"
I'm getting an "uninitialized constant Pagy" error in 4.8.0.

[2018-06-10 20:11] danielalvarenga commented on #98
I have same error using will_paginate with rails 5.2.

[2018-06-11 07:20] timoschilling commented on #98
#99 should fix this

[2018-06-11 18:30] #98 closed

[2018-06-12 20:21] ShaneBoyer opened #101 "api-pagination 4.8.0 on rails 4.2.x with kaminari results in "NameError: uninitialized constant Pagy" exception"
We don't use Pagy.  We do explicitly specify kaminari in an initializer:
[code]

We've temporarily reverted to 4.7.1 to work around this problem.

[2018-06-12 21:00] davidcelis commented on #101
This is a duplicate of #98 (which is closed), so I'm gonna close this too. I'm waiting for another pull request to be merged before pushing a new release since it's very close to merging; the only change in 4.8.0 is Pagy support, so you're fine to stay on 4.7.1 for now. Sorry about the trouble!

[2018-06-12 21:00] #101 closed

[2018-06-15 18:35] smarquez1 opened #102 "Support fast_jsonapi"
I'm trying to paginate a [fast_jsonapi](https://github.com/Netflix/fast_jsonapi) collection in combination with Pagy and getting the following error:

[code]
fast_jsonapi serializers don't provide a `count` method, so the following line is throwing a `NoMethodError`.

https://github.com/davidcelis/api-pagination/blob/master/lib/api-pagination.rb#L67

[2018-06-15 18:50] davidcelis commented on #102
@smarquez1 Do you have some example code you could show me? It sounds like you're trying to paginate a `CheatSheetSerializer` as opposed to the actual collection of (presumably) `CheatSheet` records itself. If you need to render a serializer, you should be doing something like:

[code]

[2018-06-15 19:15] smarquez1 commented on #102
Thanks @davidcelis! that seems to be working fine. Do you want me to can make a PR to document this? Or maybe just leaving this issue(closed) will serve.

[2018-06-15 19:15] #102 closed

[2018-06-15 20:10] davidcelis commented on #102
@smarquez1 It's already documented in the README (see the second code block in [this section](https://github.com/davidcelis/api-pagination#rails)), but thank you!

[2018-06-21 14:50] MarieS1415 opened #103 "problem when migrating from will_paginate to pagy with api-pagination"
Hello,
I am trying to migrate from will_paginate to api-pagination, but I encounter the following problem:

I get my collection with the following request:

    @contents = Content.select("distinct on (contents.name) contents.*")
    This request is working and does the expected behavior when run in console.

And I would like to paginate it using api-pagination and pagy:

    @contents = paginate

[2018-06-21 14:51] ddnexus commented on #103
https://github.com/ddnexus/pagy/issues/54

[2018-06-21 17:48] davidcelis commented on #103
@MarieS1415 Looks like I need to change `.count` to `.count(:all)` here: https://github.com/davidcelis/api-pagination/blob/master/lib/api-pagination.rb#L41

But it also seems like I should just be able to get `count` from the pagy wrapper, so I'll look into that as well.

[2018-06-21 18:11] davidcelis commented on #103
@MarieS1415 Would you please try your code with the `master` branch of this gem? I just pushed up a commit that should hopefully fix your issue

[2018-06-21 18:20] ddnexus commented on #103
@davidcelis While we have an open issue, I just wanted to inform you that Pagy now has an extra that handles the items per page from the params. Maybe it could simplify the way `api-pagination` handles it. Here is the [items extra doc](https://ddnexus.github.io/pagy/extras/items). Please, let me know if you need more details. Thanks.

[2018-06-25 14:45] viktorsmari opened #104 "Tests fail when updating from 4.4.0 to 4.8.0 with: "uninitialized constant Pagy""
We have a rails api with api-pagination + kaminari
When updating gems, and when api-pagination goes to 4.8.0 we get the following error msg:

[code]

Is api-pagination (wrongly) guessing we use Pagy?

[2018-06-25 17:32] davidcelis commented on #104
@viktorsmari This was fixed in a previous PR, but hasn't been deployed yet; I was waiting on a previous PR and advising folks to stay on 4.7 because Pagy was the only addition to 4.8, but since this is the third issue that's been opened about this error (#101, #98, fixed in #99), I'm just going to cut a new release

[2018-06-25 17:32] #104 closed

[2018-06-25 17:58] davidcelis commented on #103
@MarieS1415 I didn't hear back from you, so I've pushed up 4.8.1. If that didn't fix your issue, please let me know and just reopen this

[2018-06-25 17:58] #103 closed

[2018-06-25 18:00] davidcelis commented on #93
I've looked through the new RFC and, based on examples, this still complies; I'm gonna close it out and update the README.

[2018-06-25 18:01] #93 closed

[2018-06-27 12:21] jonekdahl opened #105 "4.8.1 crashes with Pagy and Mongoid"
Hi!

A couple of weeks ago we switched to the Pagy backend and it has been working well so far, but upgrading from 4.8.0 to 4.8.1 broke pagination. Here is a stack trace:

[code]

We're using Mongoid 6.4.1 and the object that we pass to the `paginate` method is a Mongoid::Criteria. It has a count method but it doesn't seem to accept a symbol.

Commit 08d764c740817dbcb8148cd629170fb7bff07d16 looks

[2018-06-28 06:40] jonekdahl commented on #105
Hi @davidcelis, I get the same error when I run your snippet above.

[2018-06-28 10:13] MarieS1415 commented on #103
Yes now it is working !
However when I use a left outer join, the total given in the header is not exact. I used to override the count by using the total_entries option, but it is not working anymore. Should I create a new issue on this topic?

[2018-07-01 18:06] jonekdahl commented on #105
I can make Pagy work by overriding `pagy_get_vars`, using a Mongoid friendly count mechanism instead of [this one](https://github.com/ddnexus/pagy/blob/master/lib/pagy/backend.rb#L19). `pagy_from` still fails though, since it calls `collection.count(:all)` directly.

[2018-07-02 16:24] MarieS1415 opened #106 "total of elements in headers not correct"
Hello,

I am using api_pagination and pagy, and one of the collection I want to paginate is created with a join: therefore the count does not render the correct number of elements. I used to fix it when I used will_paginate by adding a parameter "total_entries" to the paginate function of api_pagination, but it is not working anymore.

`@contents = paginate @contents, total_entries: @contents.coun

[2018-07-02 17:31] davidcelis commented on #106
@MarieS1415 That's true, there's not currently a way to override the count when using Pagy, but allowing you to pass a `count:` option should be easy enough to support. I'll let you know when that's done

[2018-07-03 09:13] jonekdahl commented on #105
Perhaps if you could delegate to Pagy::Backend, you wouldn't have to call `count` in api-pagination at all?

If that is not possible, can I override the `pagy_from` behavior somehow?

[2018-07-09 18:46] #85 closed

[2018-07-11 16:53] davidcelis commented on #106
@MarieS1415 Sorry about that wait, thanks for submitting the PR!

[2018-07-11 16:53] #106 closed

[2018-08-27 09:35] nethad opened #112 "Missing Changelog"
Hi :wave:

Just as an input from someone upgrading api-pagination as a dependency: it would be nice to have a `CHANGELOG.md` or similar file that shows what changed between the versions. Thanks for the work on this gem! :)

[2018-08-27 10:54] nethad commented on #112
Hi again, I just realized that there's a changelog in the releases, sorry. Maybe it's a good idea to link to those in a Changelog file?

[2018-09-17 18:59] SrMouraSilva opened #113 "Add jsonapi-rb support"
Hello, jsonapi-rb uses
[code]
Instead the configured json or xml

https://github.com/davidcelis/api-pagination/blob/289716e3d19d210365b69d4fee99e86f55b0f65a/lib/rails/pagination.rb#L11-L15

My ideia is add a custom parameter that informs possible extensions

[code]

[2018-11-15 06:51] espen opened #115 "Pagy max_per_page"
According to the readme:

Pagy does support dynamic items per page with the Items plugin https://ddnexus.github.io/pagy/extras/items. In this case there is a setting `Pagy::VARS[:max_items]`.

Can this be used instead of setting an unsupported variable in Pagy? `Pagy::VARS[:max_per_page] = 100` as specified in the readme.

cc @ddnexus

[2018-11-15 11:09] ddnexus commented on #115
Also reported in https://github.com/davidcelis/api-pagination/issues/103#issuecomment-399197741

[2018-11-29 11:07] majksner opened #116 "It doesn't work with Grape 1.2.1"
After upgrading to Grape 1.2.1 pagination stopped worked, reverting back Grape to 1.1.0 solves the problem.

Full stacktrace below:

[code]

[2018-12-07 23:41] davidcelis commented on #116
#117 has been merged and I've cut a release with the fix. Try out v4.8.2!

[2018-12-07 23:41] #116 closed

[2019-01-29 06:47] kvandake opened #118 "Incorrect genearate Links for Headers"

[2019-01-29 18:04] davidcelis commented on #118
Yeah, it looks like both Rails and grape just hardcode `page` as the parameter name despite configuration.

To be honest, I'm not sure how to solve this given how the configuration class currently works. The configuration options for the `page` and `per_page` parameter names take a block, and the block can contain anything. There can be any sort of nesting within the `params` hash, and I can't see

[2019-02-06 14:43] ysv opened #120 "Add ability to disable next, previous and last pages headers"

[2019-02-09 00:00] #120 closed

[2019-02-11 17:46] alemata commented on #63
Hi!! Did anyone find a solution for this? I am having the same issue...

[2019-02-11 18:36] davidcelis commented on #63
Hey all, sorry that there's still an issue with this. I'm still happy to look into this, but I haven't experienced the issue, so having access to the source code of one of these apps that I can run locally would help. Or even just a dummy Rails app that's set up to reproduce the problem.

[2019-02-12 15:53] alemata commented on #63
Hello @davidcelis! Thanks for the reply... I have created a toy project to test this (https://github.com/alemata/pagination_and_cache)

I know [this](https://github.com/alemata/pagination_and_cache/blob/master/app/api/marketplace/v1/properties.rb#L10) is not the ideal code to test but it's an idea of the issue

Ideeally we should be able to paginate... store that page result in cache and send the

[2019-02-12 16:03] alemata commented on #63
@davidcelis I just discover that perhaps
[code]
could work but it's not so nice...

[2019-02-17 23:55] alemata commented on #63
@davidcelis were you able to review this?!  was the project helpfull?

[2019-02-18 16:02] alemata commented on #63
Ok I think I make it work...
[code]

I am not sure if there is a `nice` way to improve this inside the gem...

[2019-03-01 14:29] belgoros opened #121 "undefined method `to_i' for #<ActionController::Parameters:0x00007fec23852f70"
I'm using `4.8.2` version of `api-pagination`with Rails API `5.2.2` and `will_pagiante` gem.
Here is the links generated in the JSON response:
[code]
When I tried to hit manually the `next` link URL as follows:
[code]
it fails to respond and returns the following error:
[code]
What am I missing ? Thank you.

[2019-03-01 14:45] belgoros commented on #121
The solution I came to and that worked for me was to create a `api_pagination.rb` file in `config/initializers`  folder with the following settings:
[code]
Is it correct ? If so, it is alittle bit confusing, because [Configuration](https://github.com/davidcelis/api-pagination#configuration-optional) section in `README` says it to be optional.

[2019-03-01 20:40] davidcelis commented on #121
Hmm that seems wrong to me. By default, the params would be `page` and `per_page`, not `page[number]` and `page[size]`. Are you sure you didn't have this configured already?

[2019-03-01 20:43] davidcelis commented on #121
What does `paginated_response_status` do?

[2019-03-03 16:18] belgoros commented on #121
`paginated_response_status` is just a helper defined in `controllers/concerns/response.rb`as follows:
[code]
It does not matter. I created a [separate repo](https://github.com/belgoros/api_pagination) to reproduce the issue. Take at `README` for setup details, it is pretty basic but raises the same problem.

Regards

[2019-03-04 18:55] davidcelis commented on #121
Thanks, I'll take a look as soon as I'm able to.

[2019-03-05 10:43] belgoros opened #122 "Content-type return 'application/json' instead of 'application/vnd.api+json'"
As for [JSON API specs](https://jsonapi.org/format/#content-negotiation-servers), the header should have the header `content-type` defined as follows:
[code]
When using with `api-pagination` the way it is [specified](https://github.com/davidcelis/api-pagination#rails) in README:
[code]
the value of `Content-Type` is just `application-json`.

Changing it to not use `api-pagination` sets the header

[2019-03-05 13:12] belgoros commented on #122
Figured out how to fix that, - I had to pass `posts` collection directly to `paginate`and set `jsonapi` renderer later as follows:
[code]
what sends the right header content type:
<img width="837" alt="screenshot 2019-03-05 at 14 11 50" src="https://user-images.githubusercontent.com/83579/53807750-a635fb80-3f50-11e9-9465-ca9ebf09f193.png">

[2019-03-05 13:12] #122 closed

[2019-03-18 17:00] seidelmaycon opened #123 "Missing "last" on Link header"
Hi folks, first of all, thanks for providing this awesome resource.

Recently I updated the `api-pagination` from 4.8.1 to 4.8.2 and some unit tests started to fail.

We were used to receiving first, last, prev and next on the Link header. But after the upgrade to the last version the `last` option disappeared from Link header.

Let me know if I am doing any confusion and/or am missing any optiona

[2019-03-18 19:21] davidcelis commented on #123
Hey @seidelmaycon, is this for a Rails app or a Grape app?

[2019-04-15 17:50] saihgal commented on #92
This (`response.headers.get('Link')`) will work if response type is basic.

else if response type is cors then server restricts the headers you can view to `Cache-Control`, `Content-Language`, `Content-Type`, `Expires`, `Last-Modified`, and `Pragma`.

[2019-07-01 16:40] jonekdahl commented on #105
I have now worked around this issue by replacing api-pagination with the Pagy [Headers extra](https://ddnexus.github.io/pagy/extras/headers). Since no one else has shown any interest in this, I'll close this issue. Thanks!

[2019-07-01 16:40] #105 closed

[2020-03-10 12:01] s-andringa opened #125 "Accept zero per page"
HI David. I noticed that the `per_page` param is converted to the default value when it is 0. I'd like my API's clients to be able to fetch merely the total number of objects (found in the X-Total header) w/o fetching any actual objects. This is easily implemented by accepting 0 as a valid `per_page` value. Right now I'd have to monkey patch methods (i.e [this one](https://github.com/davidcelis/ap

[2020-03-13 07:40] miqs1992 opened #126 "Overriding per_page_param in Grape"
As my API will be used by a frontend app I wanted to set `per_page_param` as camel-cased `:perPage` instead of the default `:per_page`.
I used the described in the documentation configuration method which resulted in `ArgumentError: comparison of Integer with String failed`. After checking swagger docs I noticed that endpoint is still accepting only `:per_page` while pagination method is trying to

[2020-03-14 16:24] utkarsh2102 opened #127 "Tests fails against grape 1.3.0"
Hi,

There are tests failures against grape 1.3.0. Here are the logs:
[code]

[2020-06-23 16:47] GuilhermeTrivilin opened #129 "Pagination link error"
The link that is sent as a response to the index request is not an existing link, when I try to access it I get the error below.

[code]

The returned links do not exist, when I try to make a request to access them I get:

[https://imgur.com/a/VFXOzgi](url)

But when I try to access the link: http://localhost:3007/api/clients?page=2, everything works correctly

[2020-08-20 22:54] carlos-soto opened #131 "undefined method `paginate' for #<QuestionsController:0x00007f4bac55f358>"
This is my Gemfile:
[code]

Created a simple endpoint:

[code]
But it can't find the paginate method. I read the documentation but it is pretty straightforward, what could I have missed?
<img width="1034" alt="Screen Shot 2020-08-20 at 4 54 09 PM" src="https://user-images.githubusercontent.com/900934/90833692-cd7bb680-e305-11ea-8852-89af8a4d0b69.png">

[2020-08-20 23:06] carlos-soto commented on #131
Needed to manually include the module:
Adding  `include Rails::Pagination` did it for me.

[2020-08-20 23:06] #131 closed

[2021-07-27 03:26] matiassalles99 commented on #73
Im having the same issue

[2021-10-19 15:25] Rex-am-I opened #136 "uninitialized constant Pagy::DEFAULT (NameError)"
Rails 6.1.4.1 and pagy 4.11.0

I installed pagy ( gem "pagy" in my gemfile) and ran bundle install
- entered "include Pagy::Backend" and "include Pagy::Frontend" in my application_controller and application_helper files, respectively.
- created a pagy.rb and pasted the contents from the file on github. I did not edit this file.

Started my rails app and got an "uninitialized constant Pagy::DEFAULT

[2021-10-21 20:54] #136 closed

[2021-10-22 03:51] Rex-am-I commented on #136
Ooops! My bad.

[2022-11-23 19:00] jtoy opened #138 "can we include a ruby example that paginates to show it working for newbies?"